<h2>Timesheet Entries for <%= @time_period.date_range_str %></h2>
<p>The master project codes are located at: <a href="<%= @doc_location %>">Vibereport Timesheet Codes</a></p>
<% @grouped_entries.each do |project, entries| %>
  <h3><%= project.code %>: Total <%= entries.sum(&:total_hours) %> hours</h3>
  <ul>
    <% entries.each do |entry| %>
      <li><%= entry.user.first_name %>: <%= entry.total_hours %> hours</li>
    <% end %>
  </ul>
<% end %>