<table width="100%" style="background-color: #f2f2f2; font-family: 'Josefin Sans', 'Arial', 'Ubuntu', sans-serif;">
  <tr>
    <td style="padding: 20px; text-align: center">
      <table width="650" style="background-color: #ffffff;">
        <!-- 1. Main Title -->
          <tr>
            <td style="padding: 20px 0; text-align: center;">
              <%= content_tag(:h2,
                              @has_entries_in_report_range ?
                                "Timesheet Entries for #{@time_period.date_range_str}" :
                                "No timesheet entries were found for the past #{@time_sheet_last_months_period} months.",
                              style: "margin: 0;")
              %>
            </td>
          </tr>
        <!-- 2. Link to master project codes -->
        <tr>
          <td style="padding: 10px 20px; text-align: center;">
            <p style="margin: 0;">
              The master project codes are located at:
              <a href="<%= @doc_location %>" style="color: #0066cc; text-decoration: none;">Vibereport Timesheet Codes</a>
            </p>
          </td>
        </tr>
        <!-- 3. Table for last period, if entries exists -->
        <% if @grouped_entries.present? %>
          <% @grouped_entries.each do |project, entries| %>
            <tr>
              <td style="padding: 10px 20px;">
                <h3 style="margin: 0;">
                  <%= project.code %>:
                  <span>Total <%= entries.sum(&:total_hours) %> hours</span>
                </h3>
                <table width="100%" style="margin-top: 10px; margin-left: 20px;">
                      <% entries.each do |entry| %>
                          <tr>
                            <td style="width: 30%;"><%= entry.user.full_name %>:</td>
                            <td style="width: 70%;"><%= entry.total_hours %> hours</td>
                          </tr>
                      <% end %>
                </table>
              </td>
            </tr>
          <% end %>
        <% else %>
          <% if @has_entries_in_report_range %>
            <tr>
              <td style="padding: 20px; text-align: center;">
                There are no timesheet entries for this period.
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </td>
  </tr>
</table>
