<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email letter</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />


</head>
<body>
<div class="convert">
  <p>Logo/Brand</p>
  <div class="line1"></div>
  <div class="line2"></div>
</div>
<h3 class="under-convert">Time for this week's check-in!</h3>
<div class="calendar">
  <div class="left-div"><div class="part"></div></div>
  <div class="right-div"><div class="part"></div></div>
  <div class="top-div"></div>
  <div class="time"><%= "#{@view_calendar_days}" %></div>
</div>
<br/>
<div class="question">Which word best describes work this week?</div>
<table>
  <% (0..@positive_emotions.length-1).step(2).each do |index|  %>
    <% emotion = [] %>
    <% emotion.push(@positive_emotions[index].word) %>
    <% emotion.push(@positive_emotions[index+1].word) %>
    <% emotion.push(@neutral_emotions[index].word) %>
    <% emotion.push(@neutral_emotions[index+1].word) %>
    <% emotion.push(@negative_emotions[index].word) %>
    <% emotion.push(@negative_emotions[index+1].word) %>
    <tr>
      <td>
        <% 6.times do |i|%>
          <button class="<%= if i < 2
                              "positive"
                            else
                              i > 3 ? "negative" : "neutral"
                            end %>"
                  style="width: <%= btn_special(emotion[i], :width)%>px;
                         margin: 0 <%= btn_special(emotion[i], :margin)%>px;">
            <%= "#{emotion[i]}" %>
          </button>
        <% end %>
      </td>
    </tr>
<% end %>
</table>
<div class="share">Share it in your own words!</div>
<div class="own_word">
  <label>
    <input type="text" placeholder="Add your own word"/>
  </label>
</div>
<div class="link">
  <%= link_to "I was not working this week","#"  %>
</div>
<div class="unsubscribe">
  <%= link_to "Unsubscribe from future check-ins","#"  %>
</div>
</body>
</html>