<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email letter</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag 'email_page' , media: 'all' %>

</head>
<body>
<div class="convert">
  <p>Logo/Brand</p>
  <div class="line1"></div>
  <div class="line2"></div>
</div>
<h3 class="under-convert">Time for this week's check-in!</h3>
<div class="calendar">
  <div class="left-div"><div class="part"></div></div>
  <div class="right-div"><div class="part"></div></div>
  <div class="top-div"></div>
  <div class="time"><%= "#{@view_calendar_days}" %></div>
</div>
<br/>
<div class="question">Which word best describes how you felt work this week?</div>
<div>
  <% (0..@positive_emotions.length-1).step(2).each do |index|  %>
    <% emotion = [] %>
    <% emotion.push(@positive_emotions[index]) %>
    <% emotion.push(@positive_emotions[index+1]) %>
    <% emotion.push(@neutral_emotions[index]) %>
    <% emotion.push(@neutral_emotions[index+1]) %>
    <% emotion.push(@negative_emotions[index]) %>
    <% emotion.push(@negative_emotions[index+1]) %>
    <div class="field_empty"></div>
    <div class="field_emotions flex">
      <% 6.times do |i|%>
        <div class="<%= if i < 2
                          "positive"
                        else
                          i > 3 ? "negative" : "neutral"
                        end %>"
                        style="width: <%= btn_special(emotion[i].word, :width)%>px;
                        margin: 0 <%= btn_special(emotion[i].word, :margin)%>px;">
          <%= link_to emotion[i].word,
                      { controller: "api/v1/responses",
                        action: "response_flow_from_email",
                        emotion_id: emotion[i].id,
                        time_period_id: TimePeriod.current,
                        user_id: @user.id
                      },
                      class: if i < 2
                        "positive-a"
                      else
                        i > 3 ? "negative-a" : "neutral-a"
                      end
          %>
        </div>
      <% end %>
    </div>
<% end %>
</div>
<div class="share">Share it in your own words!</div>
<div class="own_word">
  <div class="link_first">
    <%= link_to "Add your own word", emotion_entry_url, method: :get, class:"link_text"%>
  </div>
</div>
<div class="i_was_not">
  <%= link_to "I was not working this week", { controller: "api/v1/responses", action: "response_flow_from_email",
                                               not_working: true, time_period_id: TimePeriod.current,
                                               user_id: @user.id }
  %>
</div>
<div class="unsubscribe">
  <%= link_to "Unsubscribe from future check-ins", "#"  %>
</div>
</body>
</html>