<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email letter</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Josefin Sans', 'Arial', 'Ubuntu',  sans-serif;
          font-style: normal;
          font-weight:700;
          text-align: center;
      }
      .board{
          min-width:1060px;
      }
      .mx-auto {
          margin: 0 auto;
      }
      @media only screen and (min-width: 1080px){
          .emotions{
            width: 1060px;
          }
      }
      .d-flex{
          display: flex;
      }
      .first-row{
          height:30px;
      }
      .second-row{
          height:31px
      }
      .envelope {
          width: 130px;
          height: 61px;
          background-image: url( <%= asset_path 'envelope.png'%> );
          background-repeat: no-repeat;
          background-size: contain;
      }
      .logo{
          color: rgba(0, 0, 0, 0.7);
      }
      .envelope p {
          font-size: 12px;
          line-height: 12px;
          font-weight: 600;
          padding-top: 4px;
          padding-left: 5px;
      }
      .calendar {
          width: 85px;
          height: 79px;
          border-radius: 9px;
          margin-left: 60px;
          background-image: url( <%= asset_path "calendar.png"%> );
          background-repeat: no-repeat;
          background-size: contain;
      }
      .invitation {
          width: 453px;
          height: 55px;
          font-size: 24px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.7);
          padding: 8px;
      }
      .emotions{
          margin: 10px auto 0 auto;
      }
      .data {
          padding-top: 43px;
          width: 85px;
          height: 14px;
          font-size: 16px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.7);
          white-space: nowrap;
      }
      .question {
          font-size: 48px;
          line-height: 48px;
          color: #000000;
          white-space: pre-line;
          width: 735px;
          min-height: 114px;
      }
      .lnk-was-not a{
          font-size: 23px;
          white-space: nowrap;
          text-decoration-line: underline;
          line-height: normal;
          color: #0007A3;
      }
      .row-over-links{
          height: 7px;
      }
      .btn-emotion{
          height: 31px;
          font-size: 19px;
          line-height: 19px;
          cursor: pointer;
          box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
          border: 1px solid #000000;
          border-radius: 15px;
      }
      .positive{
          color: #4F9B64;
          background: #CCEDD5;
      }
      .negative{
          background: #FCDDCE;
          color: #D1794E;
      }
      .neutral{
          background: rgba(86, 137, 235, 0.3);
          color: #4C77CB;
      }
      .big-btn-tooltip{
          width: 378px;
          height: 31px;
          font-size: 24px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.7);
          margin: 41px auto 14px auto;
      }
      .big-btn{
          box-sizing: border-box;
          width: 385px;
          height: 70px;
          background: #FFFFFF;
          margin: 0 auto 54px auto;
      }
      .big-btn-text a{
          padding: 13px 23px 13px 23px;
          width: 385px;
          height: 70px;
          font-size: 36px;
          line-height: 36px;
          color: rgba(0, 0, 0, 0.6);
          border: 3px solid #5689EB;
          border-radius: 19px;
          box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
          text-decoration-line: none;
          white-space: nowrap;
      }
      .lnk-unsubscribe a{
          font-size: 16px;
          line-height: 19px;
          color: #4D4D4D;
      }
  </style>
</head>
<body>
  <div class="board">
    <div class="first-row">
      <div class="mx-auto envelope">
         <p class="mx-auto logo">Logo/Brand</p>
      </div>
    </div>
    <div class="second-row">
      <div class="calendar">
          <div class="data">21 Jan</div>
      </div>
    </div>
    <div class="mx-auto invitation">Time for this week's check-in!</div>
    <div class="mx-auto question">Which word best describes how you felt at work this week?</div>
    <div>
      <% (0..@positive_emotions.length-1).step(2).each do |index|  %>
        <% emotion = [] %>
        <% emotion.push(@positive_emotions[index].word) %>
        <% emotion.push(@positive_emotions[index+1].word) %>
        <% emotion.push(@neutral_emotions[index].word) %>
        <% emotion.push(@neutral_emotions[index+1].word) %>
        <% emotion.push(@negative_emotions[index].word) %>
        <% emotion.push(@negative_emotions[index+1].word) %>
        <div class="emotions d-flex">
          <% 6.times do |i|%>
            <button class="<%= if i < 2
                              "btn-emotion positive"
                            else
                              i > 3 ? "btn-emotion negative" : "btn-emotion neutral"
                            end %>"
                  style="min-width: <%= btn_special(emotion[i], :width)%>px;
                         margin: 0 <%= btn_special(emotion[i], :margin)%>px;">
              <%= "#{emotion[i]}" %>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
      <div class="big-btn-tooltip">Share it in your own words!</div>
      <div class="big-btn">
        <div class="big-btn-text">
          <%= link_to "Add your own word", "#", method: :get %>
        </div>
      </div>
    <div class="row-over-links">
      <div class="mx-auto lnk-was-not" style="width: max-content">
        <%= link_to "I was not working this week","#" %>
      </div>
    </div>
      <div class="lnk-unsubscribe" style="text-align: left">
        <%= link_to "Unsubscribe from future check-ins","#"  %>
      </div>
  </div>
</body>
</html>