<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email letter</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Josefin Sans', 'Arial', 'Ubuntu',  sans-serif;
          font-style: normal;
          font-weight:700;
          text-align: center;
          line-height: 0;
      }
      .board{
          min-width:1080px;
      }
      .lnk-unsubscribe{
          text-align: left;
      }
  </style>
  <%= stylesheet_link_tag 'email_page' , media: 'all' %>
</head>
<body>
<div class="board mx-auto">
  <div class="first-row">
    <div class="mx-auto my-0 envelope">
      <p class="mx-auto my-0 logo">Logo/Brand</p>
    </div>
  </div>
  <div class="second-row">
    <div class="calendar-days ml-55">
       <div class="date"><%= @view_calendar_days = "#{@time_period.start_date.strftime('%d %b')}<br>&nbsp;&mdash;&mdash;&nbsp;<br>#{@time_period.end_date.strftime('%d %b')}".html_safe %></div>
    </div>
  </div>
  <div class="mx-auto my-0 title">Submissions are in!</div>
    <div class="mx-auto my-0 text-invitation">See how the team has been doing:</div>
  <div class="container">
    <div class="responses-words">
      <% @words.shuffle.each_slice(6) do |row| %>
        <% row.each do |word| %>
          <div class="random-word" style="<%= random_position_and_style(word[:category], word[:count]) %>">
            <%= word[:word] || "No word found" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="big-btn mx-auto">
    <div class="big-btn-text">
      <%= link_to "See the Results", { controller: "api/v1/results",
                                       action: "results_email",
                                       id: @time_period.id,
                                       user_id: @user.id }, class: "link-text-results" %>
    </div>
  </div>
  <div class="row-over-links">
    <div class="mx-auto my-0 lnk-was-not" style="width: max-content">
    </div>
  </div>
</div>
</body>
</html>