<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email letter</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Josefin Sans', 'Arial', 'Ubuntu', sans-serif;
          font-style: normal;
          font-weight: 700;
          text-align: center;
      }

      .board {
          width: 100%;
          max-width: 850px;
          margin: 0 auto;
          padding: 20px;
      }

      .logo-wrapper {
          height: 61px;
          margin-bottom: 10px;
      }

      .wrapper {
          padding-right: 120px;
          padding-left: 10px;
      }
  </style>
  <%= stylesheet_link_tag 'email_page', media: 'all' %>
</head>
<body>
<div class="board">
  <!-- Title & Date -->
  <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="105" align="center">
        <div class="calendar-days">
          <div class="date">
            <%= @view_calendar_days = "#{@time_period.start_date.strftime('%d %b')}<br>&nbsp;&mdash;&mdash;&nbsp;<br>#{@time_period.end_date.strftime('%d %b')}".html_safe %>
          </div>
        </div>
      </td>
      <td align="center" class="wrapper">
        <div class="logo-wrapper">
          <%= render 'layouts/logo', height: 61 %>
        </div>
        <div>
          <h1 class="display-4 text-black"><%= @main_header %></h1>
          <p class="lead text-black"><%= @sub_header || 'See how the team has been doing:' %></p>
        </div>
      </td>
    </tr>
  </table>

  <!-- BgImage -->
  <div class="container pointer">
    <%= link_to image_tag("cloud_words.png", class: 'responses-words'),
                { controller: "api/v1/results",
                  action: "results_email",
                  slug: @time_period.slug,
                  user_id: @user.id }
    %>
  </div>
</div>
</body>
</html>
