<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container-fluid py-3">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-12 text-center mb-4 mb-md-8">
        <%# <div class="welcome-field mx-auto mb-115"> %>
          <h1 class="text-black mt-6 mb-0">Oh, hi there!</h1>
          <p class="gray-600 mt-0 fs-3">Welcome to</p>
      </div>
    <div class="image-fluid mx-auto mt-1 ">
      <%= render 'layouts/logo', height: 87 %>
    </div>
        <div class="col-12 col-lg-10 mt-3 mx-auto pt-3">
          <p class="gray-600 fs-5">Enter your email address and we’ll send you a link
            <br>
            to access your check-in and profile</p>
        </div>
        <div class="col-12 col-lg-6 col-md-8 mx-auto fs-2 mt-1 ">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter email here", id: "email-input", class:"col-12 col-lg-8 col-md-8 mx-auto mt-2 px-1 outline-focus-none"%>
        </div>
        <div class="mt-8">
          <%= f.submit 'Next', class: "btn btn-regular c1 fs-5", id: "next-button", disabled: true %>
        </div>
        <div class="hud help pointer d-flex justify-content-end h-0 pb-52 mb-3">
          <%= link_to image_tag("help.svg"), '#', class: 'help-icon',  data: { bs_toggle: 'modal', bs_target: '#helpModal' } %>
        </div>
        <%= render 'layouts/help_modal' %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  window.onload = function() {
    $(document).ready(function() {
      // Get the input and button elements
      const input = $("#email-input");
      const button = $('#next-button');
      input.val("")
      // Attach an event listener to the input field
      input.on('input', function() {
        // Check if the email is valid using a regular expression
        if (/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(input.val())) {
          button.attr('disabled', false);
        } else {
          button.attr('disabled', true);
        }
      });
    });
  }
</script>
